SECRET_KEY=abogoboga
JWT_SECRET_KEY=zidankusuma
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
SQLALCHEMY_DATABASE_URL=mysql+pymysql://zidankusuma:Zidan19032005@mysql-zidankusuma.alwaysdata.net:3306/zidankusuma_archivekkn

ADMIN_USERNAME=admin
ADMIN_PASSWORD=strongpassword