SECRET_KEY=change_me
JWT_SECRET_KEY=change_me
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
SQLALCHEMY_DATABASE_URL=mysql+pymysql://USER:PASSWORD@HOST:3306/DBNAME
ADMIN_USERNAME=admin
ADMIN_PASSWORD=strongpassword
